go 1.24.0

use (
	./alexandros // GraphQL gateway (imports filippos)

	./antigonos // gRPC service
	./dareios // system/integration tests (imports filippos)
	./demokritos // data seeder (imports filippos)
	./eukleides // gRPC service
	./filippos
	./hefaistion // gRPC service
	./parmenion // gRPC service
	./perdikkas // gRPC service
)
